{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}


<!-- 在<head>中添加 -->
<link 
  rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/@waline/client@2/dist/waline.css" />
<link 
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@waline/client@2/dist/theme/light.css" data-name="waline-light" />
<link 
  rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/@waline/client@2/dist/theme/dark.css" data-name="waline-dark" />
      